@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Josefin+Sans:ital,wght@1,600&family=Oswald:wght@300&display=swap');

body {
    margin: none;
    margin-left: 90px;
    background-color: #48494B;
}

header {
    font-family: Josefin Sans;
}

img {
    width: 300px;
}

h1 {
    margin: 0px;
    color: whitesmoke;
    
    font-size: 33px;
}

#topmarginselect {
    margin-top: 90px;
}

nav{
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-size: 65px;
    color: whitesmoke;
    margin-top: 25px;
    font-family: Josefin Sans;
}

nav a:hover {
    color: black;
}

#instagramLink {
    font-size: 10px;
}

.clicklink {
    height: 32px;
    width: 32px;
    background-image: url(../images/icons8-twitter-circled\ copy2.svg);
}

.clicklink:hover {
    background-image: url(../images/icons8-twitter-circled\ \(1\).svg);
    
}

.clicklink2 {
    height: 32px;
    width: 32px;
    background-image: url(../images/icons8-instagram.svg);
}

.clicklink2:hover {
    background-image: url(../images/icons8-instagram\ \(1\).svg);
}

.socialFlex {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

label {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    margin-right: 32%;
    margin-left: 32%;
}

input[type=submit] {
    margin-right: 32%;
    margin-left: 32%;
}



