h1 {
    margin-left: 340px;
}

img {
    width: 400px;
    border: 8px solid black;
}

#middlePortion {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 2%;
    
}

#resume-selector {
    color: greenyellow;
    margin-left: 80px;
}

#resume-selector:hover {
    color: whitesmoke;
    border: 3px solid black;
}

li {
    color: whitesmoke;
}